<a href="https://colab.research.google.com/github/sundeeptangirala/training/blob/main/Fuzzy_Logic_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install recordlinkage

Collecting recordlinkage
  Downloading https://files.pythonhosted.org/packages/db/26/babbca39d74824e8bc17428a8eb04951a1d63318af7d02beeb2106a1ec26/recordlinkage-0.14-py3-none-any.whl (944kB)
     |████████████████████████████████| 952kB 5.8MB/s
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.19.5)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.1.5)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (0.22.2.post1)
Collecting jellyfish>=0.5.4
  Downloading https://files.pythonhosted.org/packages/30/a6/4d039bc827a102f62ce7a7910713e38fdfd7c7a40aa39c72fb14938a1473/jellyfish-0.8.2-cp37-cp37m-manylinux2014_x86_64.whl (90kB)
     |████████████████████████████████| 92kB 8.2MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.0.1)
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->recordlinkage) (1.15.0)
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.8.2 recordlinkage-0.14

In [3]:
import pandas as pd
import recordlinkage

In [5]:

hospital_accounts = pd.read_csv('hospital_account_info.csv', index_col='Account_Num')
hospital_reimbursement = pd.read_csv('hospital_reimbursement.csv', index_col='Provider_Num')

In [6]:
indexer = recordlinkage.Index()
indexer.full()

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [7]:
candidates = indexer.index(hospital_accounts, hospital_reimbursement)
print(len(candidates))

14399283

In [8]:
compare = recordlinkage.Compare()
compare.exact('City', 'Provider City', label='City')
compare.string('Facility Name',
            'Provider Name',
            threshold=0.85,
            label='Hosp_Name')
compare.string('Address',
            'Provider Street Address',
            method='jarowinkler',
            threshold=0.85,
            label='Hosp_Address')
features = compare.compute(candidates, hospital_accounts,
                        hospital_reimbursement)

In [9]:
indexer = recordlinkage.Index()
indexer.block(left_on='State', right_on='Provider State')
candidates = indexer.index(hospital_accounts, hospital_reimbursement)
print(len(candidates))

475830

In [10]:
indexer = recordlinkage.Index()
indexer.sortedneighbourhood(left_on='State', right_on='Provider State')
candidates = indexer.index(hospital_accounts, hospital_reimbursement)
print(len(candidates))

998860

In [11]:
features.sum(axis=1).value_counts().sort_index(ascending=False)

3.0        2285
2.0         474
1.0       22262
0.0    14374262
dtype: int64

In [12]:
potential_matches = features[features.sum(axis=1) > 1].reset_index()
potential_matches['Score'] = potential_matches.loc[:, 'City':'Hosp_Address'].sum(axis=1)

In [13]:
hospital_accounts['Acct_Name_Lookup'] = hospital_accounts[[
    'Facility Name', 'Address', 'City', 'State'
]].apply(lambda x: '_'.join(x), axis=1)

hospital_reimbursement['Reimbursement_Name_Lookup'] = hospital_reimbursement[[
    'Provider Name', 'Provider Street Address', 'Provider City',
    'Provider State'
]].apply(lambda x: '_'.join(x), axis=1)

account_lookup = hospital_accounts[['Acct_Name_Lookup']].reset_index()
reimbursement_lookup = hospital_reimbursement[['Reimbursement_Name_Lookup']].reset_index()

In [14]:
account_merge = potential_matches.merge(account_lookup, how='left')

In [15]:
final_merge = account_merge.merge(reimbursement_lookup, how='left')

In [16]:
cols = ['Account_Num', 'Provider_Num', 'Score',
        'Acct_Name_Lookup', 'Reimbursement_Name_Lookup']
final_merge[cols].sort_values(by=['Account_Num', 'Score'], ascending=False)

      Account_Num  ...                          Reimbursement_Name_Lookup
2384        94995  ...  CLAIBORNE MEDICAL CENTER_1850 OLD KNOXVILLE HI...
1869        94953  ...  LAKE CHARLES MEMORIAL HOSPITAL_1701 OAK PARK B...
1652        94943  ...  VALLEY PRESBYTERIAN HOSPITAL_15107 VANOWEN ST_...
2244        94923  ...  UNIVERSITY COLO HEALTH MEMORIAL HOSPITAL CENTR...
958         94887  ...  NEW YORK METHODIST HOSPITAL_506 SIXTH STREET_B...
...           ...  ...                                                ...
430         10165  ...  UTAH VALLEY HOSPITAL_1034 NORTH 500 WEST_PROVO_UT
1691        10090  ...  CANONSBURG GENERAL HOSPITAL_100 MEDICAL BOULEV...
922         10043  ...  BETH ISRAEL DEACONESS HOSPITAL - PLYMOUTH_275 ...
1166        10020  ...  ST FRANCIS MEDICAL CENTER_309 JACKSON STREET_M...
1165        10020  ...  UNIVERSITY HEALTH CONWAY_4864 JACKSON STREET_M...

[2759 rows x 5 columns]

In [17]:
final_merge[final_merge['Account_Num']==32725][cols]

Empty DataFrame
Columns: [Account_Num, Provider_Num, Score, Acct_Name_Lookup, Reimbursement_Name_Lookup]
Index: []

In [18]:
final_merge.sort_values(by=['Account_Num', 'Score'],
                    ascending=False).to_excel('merge_list.xlsx',
                                              index=False)